
body{
font-family:Arial;
margin:0;
}

.header{
display:flex;
justify-content:space-between;
padding:10px;
background:#222;
color:white;
align-items: center;
}

.header a{
color:white;
margin:0 10px;
}

.product-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
padding:20px;
}

.product-card{
border:1px solid #ccc;
padding:15px;
text-align:center;
}

.product-card img{
width:100%;
height:150px;
object-fit:cover;
}

.product-details{
  margin-left: 15px;
}